<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Order Details</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- Border Box CSS -->
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- Layout.css CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Order.css CSS -->
  <link rel="stylesheet" href="/styles/order.css" type="text/css" />
  <!-- Jquery Library -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- App.js -->
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<!--<%- include('partials/_header') %> -->

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/menu">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
          alt="" loading="lazy">
        Sushi Restaurant
      </a>
    </nav>
  </header>

  <main>

    <div class="container py-3">
      <div class="row">
        <div class="col">
          <form id="order-form" method="POST" action="/order">

            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" name="inputName" class="form-control" id="inputName">
            </div>
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text" name="inputEmail" class="form-control" id="inputEmail">
            </div>
            <div class="form-group">
              <label for="inputPhone">Phone</label>
              <input type="text" name="inputPhone" class="form-control" id="inputPhone">
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" name="inputAddress" class="form-control" id="inputAddress">
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" name="inputCity" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputProvince">Province</label>
                <input type="text" name="inputProvince" id="inputProvince" class="form-control">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPostalCode">Postal Code</label>
                <input type="text" name="inputPostalCode" class="form-control" id="inputPostalCode">
              </div>
            </div>
            <div class="form-group">
              <label for="inputTextarea">Additional Order Details</label>
              <textarea class="form-control" name="inputTextarea" id="inputTextarea" rows="3"></textarea>
            </div>
            <input type="submit" value = "Place your order" class="btn btn-primary"></input>
          </form>
        </div>

        <div class="col">
          <div class="col">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order 1</h5>
                <small>Price</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order 2</h5>
                <small class="text-muted">Price</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order 3</h5>
                <small class="text-muted">Price</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>

            </div>
          </div>
          <div class="col py-2">
            <ul class="list-group">
              <li class="list-group-item">Subtotal</li>
              <li class="list-group-item">Tax</li>
              <li class="list-group-item">Order Total</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand">Order Total</a>
      <form id="order-form" method="GET" action="/placeyourorder">
      <input type="submit" value = "Place your order" class="btn btn-primary"></input>
      </form>
    </nav>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>


</html>
