footer {
  height: 60px;
}

.list-group {
  margin-bottom: 0px;
}

.orderform {
  height: 431px;
  overflow-y: scroll;
  margin-top: 31px;
}

.priceform {
  margin-top: 0px;
}

.row {
  margin-bottom: 30px;
}
